body {
    background-color: #808080;
}

h1 {
    color: #000000;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    color: #000000;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
}
h3 {
    color: #000000;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
}
h4 {
    color: #000000;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
}
h5 {
    color: #000000;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
}
h6 {
    color: #000000;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
}
p {
    color: #000000;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #454545;
}
td {    
    color: #000000;   
    
}
th {    
    color: #000000;      

}
Table {     
       color: #000000;
}    

a:visited {    
            color: #000000;
}

a:active {    
          color: #000000;
}       

 

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

























